/* You can add global styles to this file, and also import other style files */
/* *{
  margin: auto;
  text-align: center;
  background-color: rgb(163, 93, 163);
} */
*{
  margin: auto;
}
.img{
  background-image: url("https://i.pinimg.com/736x/16/af/09/16af098037d7e4c97545923226a89cde.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
